@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: url('https://images.unsplash.com/photo-1516222338250-863216ce01ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: #fff;
    color: rebeccapurple;
    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

#toasts {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;    
}