@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;600&display=swap');

:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

* {
    box-sizing: border-box;
}

body {
    background: url('https://images.unsplash.com/photo-1488642945284-f5b65425f15a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2102&q=80') center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

h1 {
    margin: 10px 0 0;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin: 10px 0;
}

.btn {
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
}

.btn.imperial,
.btn.metric {
    background-color: #236cac;
    padding: 10px;
    border: 3px solid #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn.imperial:hover,
.btn.metric:hover {
    background-color: #235acc;
}

.btn.active {
    border: 3px solid #333;
}

.cup {
    background-color: #fff;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cup.cup-small {
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s ease;
}

.cup.cup-small.full {
    background-color: var(--fill-color);
    color: #fff;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.remaining {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    transition: 0.3s ease;
}

.remaining span {
    font-size: 20px;
}

.remaining small {
    font-size: 12px;
}

.percentage {
    background-color: var(--fill-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 0;
    transition: 0.3s ease;
}

.text {
    text-align: center;
    margin: 0 0 20px;
    font-size: 30px;
    text-shadow: 1px 3px 3px black;
    background-color: #236cac;
    border-radius: 10px;
    box-shadow: 1px 3px 10px #333;
    padding: 30px;
}